[Unit]
Description=uWSGI instance to serve fintopia.pro
After=network.target

[Service]
User=mpolly
Group=www-data
WorkingDirectory=/srv/www/fintopia.pro
Environment="PATH=/srv/www/fintopia.pro/venv/bin"
ExecStart=/srv/www/fintopia.pro/venv/bin/uwsgi --ini fintopia.ini

[Install]
WantedBy=multi-user.target
